# General
.DS_Store
.AppleDouble
.LSOverride

# IntelliJ
.idea/
out/
*.iml

# Python
__pycache__

# MNIST Dataset
/pyMNIST/utils
/pyMNIST/data

# temporary
/IntroHopfield/src/edu/caceres/introhopfield/HopfieldApp.java
